@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <span>STONKS!</span><br />
    <img src="images/stonks.webp" /> <br />
    <span>Welcome to the best Stock discussion forum!! Please enter an available Chat room or create one.</span>
</div>
